<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>forum</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <header>
        <div class="container">
            <div id="branding">
                <h1><a href="/">Forum</a></h1>
            </div>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <div class="container">
            <h2>Latest posts</h2>
            <p>There's nothing to see here yet!</p>
        </div>
    </main>
    <footer>
        <div class="container">
            <p>Powered by <a href="https://golang.org" target="_blank">Go</a></p>
        </div>
    </footer>
</body>
</html>
